*{
    font-family: "Roboto", sans-serif;
    color: #fff;
}
body{
    background-color: #222;
    min-height: 100vh;
    margin: 0;
}
/* navbar */
.navbar{
 position: sticky;
 top:0;
 /* z-index: 1000; */
 backdrop-filter: blur(4px);
 background-color: rgba(34,34,34,0.25);
}
.nav-cont{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.nav-left{
    display: flex;
}
.logo{
    border: 50%;
    margin: 0 1rem;
}
.nav-name{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;

}
.nav-right{
    margin-left: auto;
}
.nav-item-cont{
    display: flex;
    /* js use korini ti ata dila wrap thkbe */
    flex-wrap:wrap ;
}
.nav-items{
    list-style-type: none;
    margin: 1rem;
}
.nav-item-link{
    text-decoration: none;
    
}

.nav-item-link:hover{
    color: rgb(54, 90, 247) ;
}
@media (max-width:873px) {
    .nav-cont{
        display: block;
    }
    .nav-item-cont{
        padding: 0;
    }
    
}
@media (max-width:992px) {
    .navbar{
        background-color: rgba(34,34,34,1);
    }
   
    
}

/* responsive */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:576px){
    .container{
        max-width: 540px;

    }
}
@media(min-width:768px){
    .container{
        max-width: 720px;
        
    }
}
@media(min-width:992px){
    .container{
        max-width: 960px;
        
    }
}


/* Hero Section */
.hero-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
}
.hero-img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.hero-left,.hero-right{
    width: 100%;
}
@media(min-width:992px){
    .hero-left{
        width: 40%;
    }
    .hero-right{
        width: 60%;
    }
}
.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;

}
.des{
    padding: 0 1rem;
    font-size:1rem;
    line-height: 2rem;
    text-align: justify;
}